In [4]:
print("Hello Neurons !")

Hello Neurons !

In [5]:
print("Greeting from iNeuron")
print("Good Evening")

Greeting from iNeuron
Good Evening

In [6]:
print('Greeting from iNeuron')
print('Good Evening')

Greeting from iNeuron
Good Evening

In [7]:
Print('Good Evening') #-> print command is case sensetive

NameError: ignored

In [8]:
print "Good Evening"

SyntaxError: ignored

In [9]:
print("Good 
Evening")

SyntaxError: ignored

In [10]:
"Good Morning"

'Good Morning'

In [11]:
"Good Morning"
print("Good Evening") #-> Over ride the previous command

Good Evening

In [12]:
print("""Good 
Evening""") #->""" """(Triple Quote) is allow for multiline comment

Good
Evening

In [14]:
print('''The Prime Minister, 
Shri Narendra Modi inaugurated the Uttar Pradesh Global Investors Summit 2023 
in Lucknow today.''')

#-> ''' '''(Triple Quote) is allow for multiline comment

The Prime Minister,
Shri Narendra Modi inaugurated the Uttar Pradesh Global Investors Summit 2023
in Lucknow today.

In [15]:
# Say Hello to the students -> Comments
# print("Hi Students") -> Comments

In [16]:
# Multiline comments

"""

Say Hi 
to the student

"""

print('Hi Student')

Hi Student

In [18]:
#More exceptional cases  in print statements

print("Hi my name is "Abhisheek")

SyntaxError: ignored

In [19]:
print('Hi my name is "Abhisheek" ')

Hi my name is "Abhisheek"

In [20]:
print("Hi my name is 'Abhisheek' ")

Hi my name is 'Abhisheek'

In [21]:
print("""Hi my name is 'Abhisheek' """)

Hi my name is 'Abhisheek'

In [22]:
print("""Hi my name is "Abhisheek" """)

Hi my name is "Abhisheek"

In [23]:
print("""Hi my name is "Abhisheek" ! """)

Hi my name is "Abhisheek" !

In [25]:
print("Hi my name is \"Abhisheek\" ! ") #-> escape character using \

Hi my name is "Abhisheek" !

In [26]:
123 + 245 #-> Sum of two numbers

368

In [27]:
123 * 245 #-> Multiplication of two numbers

30135

In [28]:
123 / 245

0.5020408163265306

In [29]:
123**2 #-> Power of 123 raised to 2

15129

In [30]:
123%2 #-> Modulo operator which gives you reminder

1

In [31]:
(-123)**2

15129

In [32]:
123 * 245

print("Result")

Result

In [34]:
print(123 * 245)

print("Result")

30135
Result

In [35]:
print("123 * 245")

print("Result")

123 * 245
Result

#Variables in python

In [36]:
x = 10

In [37]:
print(x)

10

In [38]:
y = 20

In [39]:
print(y)

20

In [40]:
print(x + y)

30

In [41]:
print(x / y)

0.5

##1. Variable names should start with alphabets

In [44]:
ten = 10
ten_number = 10
tenNumber = 10

##2. Variable names should not contain any special characters like ^ % $ ! @ # & * ()

In [42]:
ten* = 10

SyntaxError: ignored

In [43]:
ten%number = 10

SyntaxError: ignored

In [45]:
ten = 10
ten_number = 10
ten%number = 10
tenNumber = 10

SyntaxError: ignored

In [46]:
ten = 10
ten_number = 10
ten/number = 10
tenNumber = 10

SyntaxError: ignored

##3. Varibles names can contain number but you can't start with numbers

In [47]:
ten10 = 10

In [48]:
10ten = 10

SyntaxError: ignored

In [49]:
__num = 10 #->Hidden variable

In [50]:
Ten = 10

In [51]:
ten number = 10

SyntaxError: ignored

In [52]:
ten_number = 10

In [53]:
_ = 10 #-> Dummy variable

##4. Its not strict rule that you should varible names with a Capital letters. But its recommended to use Small letters for the variables.

#Fundamental Data Types

##Integers

In [54]:
a = 7

In [55]:
type(a)

int

In [56]:
b  = 77777

In [57]:
type(b)

int

##Floats - Numbers containing decimal numbers

In [58]:
pi = 3.14

In [59]:
type(pi)

float

In [60]:
x = 2.0

type(x)

float

In [61]:
pi = 22/7
pi

3.142857142857143

In [62]:
type(pi)

float

##Complex numbers

In [64]:
a = 2+3j

a

(2+3j)

In [65]:
type(a)

complex

In [66]:
a.real

2.0

In [68]:
a.imag

3.0

# Dynamic Typing

In [72]:
a = 22
print(type(a))

a = 22.2
print(type(a))

a = "Abhi"
print(type(a))

<class 'int'>
<class 'float'>
<class 'str'>

In [73]:
print(a)

Abhi

#Strong typing

In [74]:
"Day" + 1

TypeError: ignored

In [75]:
"Day" + "1"

'Day1'

In [76]:
"22" + "22"

'2222'

In [77]:
"Abhisheek" + "Dutta"

'AbhisheekDutta'

In [78]:
22 + 22

44

In [79]:
"22" + 22

TypeError: ignored

In [80]:
22 + "22"

TypeError: ignored

In [81]:
'22' + "22"

'2222'

In [82]:
22.2 + 1

23.2

In [83]:
a = 1 #-> Integer data type
b = 1.2 #-> float data type
c = "Abhisheek" #-> string data type
d = 2+3j #-> complex data type

In [93]:
print("Hi welcome to class Python language")

Hi welcome to class Python language

In [92]:
print("Hi welcome to class Java language")

Hi welcome to class Java language

In [94]:
language = "Python"

print("Hi welcome to class of " + language + ' language')

Hi welcome to class of Python language

In [100]:
language = "Java"

print("Hi welcome to class of " + language + ' language') #-> allowed but rarely used

Hi welcome to class of Java language

In [101]:
# f -> formatted string method
language = "JavaScript"
print(f"Hi welcome to class of {language} language") # current standard approach used in python

Hi welcome to class of JavaScript language

In [103]:
# f -> # f -> without formatted string method
language = "JavaScript"
print("Hi welcome to class of {language} language")

Hi welcome to class of {language} language

In [104]:
language = "JavaScript"
print("Hi welcome to class of {} language".format(language)) #->Old way

Hi welcome to class of JavaScript language

In [105]:
# f -> formatted string method
num = "first"
language = "JavaScript"
print(f"Today is the {num} class of {language} language") # current standard approach used in python

Today is the first class of JavaScript language

In [108]:
num = "first"
language = "JavaScript"
print("Today is the {} class of {} language".format(num, language)) #-> old way

Today is the first class of JavaScript language

In [109]:
num = "first"
language = "JavaScript"
print("Today is the "+num+" class of "+language+ " language")

Today is the first class of JavaScript language

In [112]:
a = 22
b = 34
c = a+b
print(f"the result sum of two numbers a : {a} and b : {b} is = {c} ")

the result sum of two numbers a : 22 and b : 34 is = 56

#Boolean

In [113]:
one = True
two = False

print(type(one))
print(type(two))

<class 'bool'>
<class 'bool'>

In [114]:
class_starts_at = 3 
you_came_at = 2
you_understood_all_concepts = you_came_at < class_starts_at

print(f"You understood everything?: {you_understood_all_concepts}")

You understood everything?: True

In [115]:
class_starts_at = 3 
you_came_at = 4
you_understood_all_concepts = you_came_at < class_starts_at

print(f"You understood everything?: {you_understood_all_concepts}")

You understood everything?: False

In [116]:
# = means assignment
# == means comparing equality
is_raining = False
umbralla_available = False
go_to_college = is_raining == umbralla_available # Cop
go_to_college

True

In [117]:
numA = 5
numB = 6
numA == numB

False

In [118]:
numA = 5
numB = 5
numA == numB

True

In [119]:
numA = 5
numB = 5
numA > numB

False

In [120]:
numA = 5
numB = 5
numA >= numB

True

In [121]:
"Abhisheek" + " Dutta " + "Abhi"

'Abhisheek Dutta Abhi'

In [122]:
"My name is \"Abhisheek\" Dutta"

'My name is "Abhisheek" Dutta'

In [123]:
print("\"")

"

In [124]:
print(""" " """)

 "

In [125]:
print(""" / """)

 /

In [126]:
name = "Abhi"
print(f"My name is: {name}")

My name is: Abhi

In [127]:
name = 1000
print(f"My name is: {name}")

My name is: 1000

In [128]:
a = 2
b = 3
c = 4
__result__ = a+b+c
print(f"sum = {__result__}")

sum = 9

In [129]:
z = 2+5j

In [132]:
type(z)

complex

In [133]:
z.real

2.0

In [134]:
z.imag

5.0