# AGENDA
1. Variable Case senstivity [clear]
2. Reserved words in Python [clear]
3. Multi assignment of variables [clear]
4. User input [clear]
5. type casting | type conversion [Doubt at the end]
6. Memory block []
7. Operators
  - Logical
  - Equality
  - Comparision
  - Arthimatic
  - Bitwise [Advance classes]
  - Operators for sets and dictionary [Advance classes]

8. String methods

## Variable Case senstivity

variable names defined as

Ashish ashish

In [3]:
TEN = 10
ten = 20
# TEN and ten both are different in terms of lowercase and uppercase letter

In [28]:
print(Ten)

NameError: ignored

In [6]:
TEN

10

## Reserved words in Python

https://docs.python.org/2.5/ref/keywords.html

1. We should not use reserved words as variable names
2. Also python doesn't restrict the user to use reserved keywords as variable names

In [7]:
print("Hi there")

Hi there

In [8]:
print = "Hi there" # as a variable
type(print)

str

In [27]:
print("Hi there")

Hi there

In [10]:
print = 12 # as a variable
type(print)

int

In [26]:
print("Hi there")

Hi there

In [12]:
del print # delete the variable print

In [13]:
print("Hi there")

Hi there

In [25]:
Print = "Hi there" # as a variable
type(Print)

str

In [14]:
print("Hi there")

Hi there

In [15]:
print = 10

In [16]:
type(print)

int

In [17]:
del print

In [39]:
print("Abhi")

Abhi

## Multi assignment of variables

In [40]:
a, b, c, yes = 10, 20.2, "Abhi", True

In [20]:
type(a)

int

In [21]:
type(b)

float

In [22]:
type(c)

str

In [23]:
type(yes)

bool

In [24]:
type(a)

int

In [29]:
print(type(a))
print(type(b))
print(type(c))
print(type(yes))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [30]:
# a,b,c = 10

In [31]:
a,b,c = 10,10,10

In [38]:
a, A, c, C = 10, 20.2, "Abhi", True

In [33]:
print(a, A, c, C)

10 20.2 Sunny True

In [34]:
a=b=c=10

In [35]:
a,b,c

(10, 10, 10)

In [43]:
firstName, middleName, sirName = "Abhisheek", "Abhi", "Dutta"

In [44]:
print(f"{firstName}.{sirName}@gmail.com")

Abhisheek.Dutta@gmail.com

In [47]:
name, place, year_of_birth, weight = "Abhisheek", "Jamshedpur", 1996, 67

In [48]:
print(f"""
My name is: {name}
I live at: {place}
I was born in: {year_of_birth}
My weight is: {weight} in Kgs
""")

My name is: Abhisheek
I live at: Jamshedpur
I was born in: 1996
My weight is: 67 in Kgs

## User input

In [49]:
name = input("Enter your Name: ")

print(f"You have entered: {name}")

Enter your Name: Abhisheek
You have entered: Abhisheek

In [50]:
A = input("Enter value of A: ")
B = input("Enter value of B: ")

print(f"Sum of A and B is: {A+B}")

Enter value of A: 3
Enter value of B: 4
Sum of A and B is: 34

In [54]:
A = int(input("Enter value of A: "))
B = int(input("Enter value of B: "))

print(f"Sum of A and B is: {A+B}")

Enter value of A: 12
Enter value of B: 10
Sum of A and B is: 22

In [56]:
print(type(A), type(B))

<class 'int'> <class 'int'>

In [59]:
A = int(input("Enter value of A: "))
B = int(input("Enter value of B: "))

print(f"Sum of A and B is: {A+B}")

Enter value of A: 12.2

ValueError: ignored

In [60]:
A = float(input("Enter value of A: "))
B = int(input("Enter value of B: "))

print(f"Sum of A and B is: {A+B}")

Enter value of A: 12.2
Enter value of B: 12
Sum of A and B is: 24.2

In [61]:
print(type(A), type(B))

<class 'float'> <class 'int'>

In [57]:
A = input("Enter value of A: ")
B = input("Enter value of B: ")

print(type(A), type(B))

Enter value of A: 12
Enter value of B: 10
<class 'str'> <class 'str'>

In [58]:
name = input("Name: ")
place = input("place: ")
year_of_birth = input("year_of_birth: ")

Name: Abhisheek
place: Jamshedpur
year_of_birth: 1996

In [ ]:
print(f"""
My name is: {name}
I live at: {place}
I was born in: {year_of_birth}
""")

In [ ]:
# calcualte the age of the user

name = input("Name: ") # always gives you string values
place = input("place: ")
year_of_birth = input("year_of_birth: ")

age = 2022 - year_of_birth

print(f"""
My name is: {name}
I live at: {place}
{name} is of age: {age}
""")

In [62]:
# calcualte the age of the user

name = input("Name: ") # always gives you string values
place = input("place: ")
year_of_birth = int(input("year_of_birth: ")) # convert this into integer

age = 2022 - year_of_birth

print(f"""
My name is: {name}
I live at: {place}
{name} is of age: {age}
""")

Name: Abhisheek Dutta
place: Jamshedpur
year_of_birth: 1996

My name is: Abhisheek Dutta
I live at: Jamshedpur
Abhisheek Dutta is of age: 26

In [144]:
# calcualte the age of the user

name = input("name: ") # always gives you string values
place = input("place: ")
year_of_birth = input("year_of_birth: ") # convert this into integer

age = 2022 - int(year_of_birth)

print(f"""
My name is: {name}
I live at: {place}
{name} is of age: {age}
""")

name: Abhisheek
place: Jamshedpur
year_of_birth: 1996

My name is: Abhisheek
I live at: Jamshedpur
Abhisheek is of age: 26

In [64]:
# calcualte the age of the user

name = input("Name: ") # always gives you string values
place = input("place: ")
year_of_birth = input("year_of_birth: ") # convert this into integer
current_year = input("current year: ")
age = int(current_year) - int(year_of_birth)

print(f"""
My name is: {name}
I live at: {place}
{name} is of age: {age}
""")

Name: Abhisheek
place: Jamshedpur
year_of_birth: 1996
current year: 2023

My name is: Abhisheek
I live at: Jamshedpur
Abhisheek is of age: 27

## Type conversion

We can convert the data type of one variable into another if it is allowed

In [65]:
A = int(input("Enter value of A: "))
B = int(input("Enter value of B: "))

print(type(A), type(B))

Enter value of A: 12
Enter value of B: 12
<class 'int'> <class 'int'>

In [66]:
print(f"Sum of A and B is: {A+B}")

Sum of A and B is: 24

In [67]:
int A

SyntaxError: ignored

In [68]:
A = float(input("Enter value of A: "))
B = float(input("Enter value of B: "))

print(f"Sum of A and B is: {A+B}")

Enter value of A: 12.2
Enter value of B: 11.1
Sum of A and B is: 23.299999999999997

In [69]:
A = float(input("Enter value of A: "))
B = int(input("Enter value of B: "))

print(f"Sum of A and B is: {A+B}")

Enter value of A: 12.2
Enter value of B: 11
Sum of A and B is: 23.2

In [71]:
A = float(input("Enter value of A: "))
B = int(input("Enter value of B: ")) # 10.2 is float but converting to int

print(f"Sum of A and B is: {A+B}")

Enter value of A: 12.2
Enter value of B: 10
Sum of A and B is: 22.2

In [72]:
# String to integer
A = "50"
print(f"data type before: {type(A)}, value of A: {A}")
A = int(A)
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'str'>, value of A: 50
data type after: <class 'int'>, value of A: 50

In [73]:
# String to integer
A = "50.22" # entering float
print(f"data type before: {type(A)}, value of A: {A}")
A = int(A) # trying to convert into integer
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'str'>, value of A: 50.22

ValueError: ignored

In [74]:
# float to integer
A = 50.22
print(f"data type before: {type(A)}, value of A: {A}")
A = int(A)
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'float'>, value of A: 50.22
data type after: <class 'int'>, value of A: 50

In [75]:
# integer to float
A = 50
print(f"data type before: {type(A)}, value of A: {A}")
A = float(A)
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'int'>, value of A: 50
data type after: <class 'float'>, value of A: 50.0

In [76]:
# integer to boolean
A = 10
print(f"data type before: {type(A)}, value of A: {A}")
A = bool(A)
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'int'>, value of A: 10
data type after: <class 'bool'>, value of A: True

* True in binary - 1 
* False in binary - 0

In [77]:
# integer to boolean
A = 0
print(f"data type before: {type(A)}, value of A: {A}")
A = bool(A)
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'int'>, value of A: 0
data type after: <class 'bool'>, value of A: False

In [78]:
# integer to boolean
A = 1
print(f"data type before: {type(A)}, value of A: {A}")
A = bool(A)
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'int'>, value of A: 1
data type after: <class 'bool'>, value of A: True

> NOTE: Converting any non zero number and string values into boolean will give True as an answer

> NOTE: Empty string "" will give False as an answer after converting from string to boolean

In [79]:
# integer to boolean
A = -5
print(f"data type before: {type(A)}, value of A: {A}")
A = bool(A)
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'int'>, value of A: -5
data type after: <class 'bool'>, value of A: True

In [81]:
# string to boolean
A = "Abhisheek"
print(f"data type before: {type(A)}, value of A: {A}")
A = bool(A)
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'str'>, value of A: Abhisheek
data type after: <class 'bool'>, value of A: True

In [82]:
# string to boolean
A = "True"
print(f"data type before: {type(A)}, value of A: {A}")
A = bool(A)
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'str'>, value of A: True
data type after: <class 'bool'>, value of A: True

In [83]:
# string to boolean
A = "False"
print(f"data type before: {type(A)}, value of A: {A}")
A = bool(A)
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'str'>, value of A: False
data type after: <class 'bool'>, value of A: True

In [84]:
# empty string to boolean
A = ""
print(f"data type before: {type(A)}, value of A: {A}")
A = bool(A)
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'str'>, value of A:
data type after: <class 'bool'>, value of A: False

In [87]:
# empty string to boolean
A = " "
print(f"data type before: {type(A)}, value of A: {A}")
A = bool(A)
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'str'>, value of A:
data type after: <class 'bool'>, value of A: True

In [88]:
# empty string to int
A = ""
print(f"data type before: {type(A)}, value of A: {A}")
A = int(A)
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'str'>, value of A:

ValueError: ignored

## Memory block

In [89]:
a = 22
b = 34
c = 22

In [90]:
id(a) # memory address

9793760

In [91]:
id(b)

9794144

In [92]:
id(c)

9793760

In [93]:
c = 22 + b

In [94]:
id(c)

9794848

In [95]:
a = 22
id(a)

9793760

In [96]:
a = 99
id(a)

9796224

Memory is assigned to the value of variable passed not the variable name

In [97]:
a = 22
b = 34
c = 22 

print(id(a), id(b), id(c))

9793760 9794144 9793760

In [99]:
a = "Abhisheek"
b = 34
c = "Abhisheek"

print(id(a), id(b), id(c))

139950602436080 9794144 139950602436080

In [100]:
a = "A"
b = 34
c = "A"

print(id(a), id(b), id(c))

139951151767728 9794144 139951151767728

In [101]:
a = 22
b = 34
c = 22.0 

print(id(a), id(b), id(c))

9793760 9794144 139950171450736

# LIVE DOUBTS

In [102]:
name = input("Name: ")
YOB = int(input("YOB: ")) # string

age = 2022 - YOB
print(age)

Name: Abhisheek
YOB: 1996
26

# ASSIGNMENTS - NOT compulsory but usefull!!
# I am not at loss if you don't submit
## send the mail to 
## send it before 0000 hrs IST | 12 AM tonight
## Special cases respond atleast before 1200 hrs IST tomorrow i.e Monday

TO: query@ineuron.ai
CC: sunny@ineuron.ai, riishav@ineuron.ai, boktiar@ineuron.ai
 
Subject: [Bootcamp 2.0 | Assignment No. 1]: 

1. Find out all the types of error that we have encountered in our lecture and why? Also include the examples.
2. Take input A and B and print their sum, mul, div, square of the nos.
3. How many reserve keywords are there in python and why we should not use them as a variable name.
4. Create email ids with the user inputs. in the following format - 
lastname.firstname@gmail.com
5. Try to print the following lines - 
  - Hi I'm Sunny
  - My address is 22\3 
  - I earn 20$ daily.
6. Take user input (name, address, date of birth etc) to fill a form for your college and print their email IDs
7. Convert the following - 
  - "22.4" into integer
  - "22" into complex no.

In [121]:
#Q:2- Ans:

A = int(input("Enter the first number: "))
B = int(input("Enter the second number: "))

print(f"Sum of A and B is: {A+B}")
print(f"Multiplication of A and B is: {A*B}")
print(f"Division of A and B is: {A/B}")
print(f"Square of A and B is: {A **2}  and {B **2} " )

Enter the first number: 12
Enter the second number: 13
Sum of A and B is: 25
Multiplication of A and B is: 156
Division of A and B is: 0.9230769230769231
Square of A and B is: 144  and 169

In [131]:
#Q:4- Ans:

lastName = input("Enter the lastName: ")
fisrtName = input("Enter the firstName: ")

print(f"My email ID is: {lastName}.{firstName}@gmail.com")

Enter the lastName: Dutta
Enter the firstName: Abhisheek
My email ID is: Dutta.Abhisheek@gmail.com

In [142]:
#Q:5- Ans:

Name= "Hi ! I am Sunny"
Address = "My address is 22 \ 3"
Earning = "I earn 20$ daily"

print(f"""
{Name}
{Address}
{Earning}
""")

Hi ! I am Sunny
My address is 22 \ 3
I earn 20$ daily

In [148]:
#Q:6- Ans:

Name = input("Name: ")
Address = input("Address: ")
DOB= int(input("DOB: "))

Age = 2023 - DOB

print(f"""
My name is: {Name}
I live in: {Address}
{Name} is of age: {Age}
""")

Name: Abhisheek Dutta
Address: Kadma, Jamshedpur
DOB: 1996

My name is: Abhisheek Dutta
I live in: Kadma, Jamshedpur
Abhisheek Dutta is of age: 27

In [149]:
#Q:7- I. Ans:

A = "22.4"
print(f"data type before: {type(A)}, value of A: {A}")
A = int(A)
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'str'>, value of A: 22.4

ValueError: ignored

In [150]:
#Q:7- II. Ans:

A = "22"
print(f"data type before: {type(A)}, value of A: {A}")
A = complex(A)
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'str'>, value of A: 22
data type after: <class 'complex'>, value of A: (22+0j)

In [146]:
x = input("Enter the value of x: ")

Enter the value of x: 22.2

In [105]:
x =  22.2
bool(x)

True

In [106]:
x =  22
bool(x)

True

In [107]:
x =  0.0
bool(x)

False

In [108]:
x =  0
bool(x)

False

In [109]:
x =  -22
bool(x)

True

In [110]:
x =  -22.2
bool(x)

True

In [112]:
i_have_a_doubt = input("yes? ")
bool(i_have_a_doubt)

yes? no

True

In [159]:
i_have_a_doubt = input("yes? ")
bool(i_have_a_doubt)

yes? no

True

In [160]:
25.88 + 10

35.879999999999995

In [155]:
round(25.88 + 10, 2)

35.88

In [157]:
round(25.88 + 10)

36

In [156]:
25.89 + 10

35.89

In [161]:
def sum_of_values(x, y):
  print(x+y)

sum_of_values(22.2, 33)

55.2

In [162]:
def sum_of_values(x, y):
  print(x+y)

sum_of_values(22.2, 33, 444)

TypeError: ignored

In [163]:
def sum_of_values(x, y):
  print(x+y)

sum_of_values(22.2, "33")

TypeError: ignored