In [1]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [8]:
print("This is my first program")

This is my first program

In [6]:
1+2

3

In [7]:
3/7

0.42857142857142855

In [9]:
5+7

12

In [14]:
a = 12 #Assigning value "12" to the variable "a"

In [11]:
a

12

In [13]:
type(a) #Using "Type" function to knwo the data type inside the variable "a"

int

In [15]:
b = 33.33

In [16]:
type(b)

float

In [23]:
c = "Abhisheek" #String should be always under " " or ' ' (Double or Single Quote)

In [18]:
type(c)

str

In [25]:
d  = 5+3j  #"5" is a real part and "3" is an imaginary part

#In complex number, "j" is a notation

In [20]:
type(d)

complex

In [24]:
A = Abhisheek #String not under double or single quote; throwing an error

NameError: ignored

In [26]:
A = 'Abhisheek'

In [27]:
A

'Abhisheek'

In [28]:
e = True #Boolean data type; here True = 1

In [29]:
type(e)

bool

In [30]:
f  = False #Boolean data type; here False = 0

In [32]:
type(f)

bool

In [33]:
*a = 33

#Rules for creating variables in Python - 

# A variable name must start with a letter or the underscore character.
# A variable name cannot start with a number.
# A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ ).
# Variable names are case-sensitive (name, Name and NAME are three different variables).
# The reserved words(keywords) cannot be used naming the variable.

SyntaxError: ignored

In [34]:
_a = 33

#Rules for creating variables in Python - 

# A variable name must start with a letter or the underscore character.
# A variable name cannot start with a number.
# A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ ).
# Variable names are case-sensitive (name, Name and NAME are three different variables).
# The reserved words(keywords) cannot be used naming the variable.

In [35]:
_a

33

In [36]:
a = 3333
b = "Abhi"
c = 3+1j
d = True
e = 33.33

#Here a,b,c,d and e all are Variables

In [37]:
#If I want to do addition

a1 = 3311

In [38]:
a1 + a #3311 + 3333

6644

In [39]:
#Putting five variables in a single line

a, b, c, d, e = 3333, "Abhi", 3+1j, True, 33.33

In [40]:
a

3333

In [41]:
b

'Abhi'

In [42]:
c

(3+1j)

In [43]:
d

True

In [45]:
#Putting five variables in a single line

a, b, c, d, e = 3333, "Abhi", 3+1j, True

#Throws error because value of variable a is missing

ValueError: ignored

In [46]:
n = 4+6j

In [47]:
type(n)

complex

In [48]:
n.real #To know the real part in the complex number

4.0

In [49]:
n.imag #To know the imaginary part in the complex number

# n.imag and n.real are two inbuilt functions to know the complex number; here n is a veriable

#After n.real and n.imag hold the cursor for some time to see all the inbuilt functions

6.0

In [50]:
n.conjugate

In [51]:
b = "Abhi"

In [55]:
b. #After b. hold the cursor for some time to see all the inbuilt functions

# b. is to know all the inbuilt functions of a String; here is b is a variable

SyntaxError: ignored

In [56]:
a = "Abhi"

In [57]:
a + 3 #only concatenate str (not "int") to str

TypeError: ignored

In [68]:

a = "Abhi"

In [69]:
#To concatenate int to str, we need to convert int to str
# we will use double or single quote

a + "3"

'Abhi3'

In [70]:
type(a)

str

In [71]:
a = "Abhi"

In [72]:
#To concatenate int to str, we need to convert int to str
# we can also use Type Casting

a + str(3)

'Abhi3'

In [73]:
type(a)

str

In [75]:
True + True #Boolean data type

# True is always 1; 1 + 1 = 2

2

In [76]:
False + False #Boolean data type

# False is always 0; 0 + 0 = 0

0

In [78]:
True - False

# 1 - 0 = 1

1

In [80]:
1 + True #Integer + Boolean

# 1 + 1 = 2

2

In [81]:
#User input through input function

input()

Hi

'Hi'

In [89]:
a = input() #Normal input function always gives output in String

1234

In [90]:
a

'1234'

In [91]:
type(a)

str

In [92]:
b = 45

In [96]:
a + b

#Throws error because a is in String as per normal input function above line

TypeError: ignored

In [97]:
# Concatination str  to int through Type Casting

int(a) + b

1279

In [98]:
#Type casting

int('3333')

3333

In [99]:
type(a)

str

In [100]:
str(3333)

'3333'

In [101]:
type(a)

str